* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: SUIT;
    font-family: var(--fn-suit);
}

button {
    outline: none;
    background-color: unset;
    border: none;
    cursor: pointer;
    font-family: var(--fn-suit);
}

a {
    text-decoration: none;
    color: #000;
    font-family: var(--fn-suit);
}

li {
    list-style: none;
    font-family: var(--fn-suit);
}

body.no-scroll {
    overflow: hidden;
}


:root {
    --fn-suit: "SUIT"
}