.visual-section {
    width: 100%;
    height: 972px;
    background-image: url("/img/user_img/industry-back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.opacity-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
}

.visual-section .content {
    width: 100%;
    height: 100%;
    padding-bottom: 400px;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    row-gap: 28px;
}

.visual-section .content h2 {
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 28px */
    letter-spacing: -1.4px;
}

.visual-section .content h1 {
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    /* 78.4px */
    letter-spacing: -2.8px;
}

.main-section {
    margin: 0 auto;
    max-width: 1760px;
    width: 100%;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section .search {
    width: 100%;

    padding: 16px 20px;
    border-radius: 999px;
    background: var(--grey-grey-50, #F3F5F6);
    border: 0;
    outline: none;
    text-align: center;
    position: relative;
    text-align: center;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 16px */
    letter-spacing: -0.8px;
    color: #000;
}

.main-section .search::placeholder {
    color: var(--grey-grey-600, #7E8993);

}

.navigator {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.categories-container {
    display: flex;
    column-gap: 12px;
}

.category {
    border-radius: 999px;
    border: 1px solid var(--grey-grey-100, #DBDEE2);
    position: relative;
    display: flex;
    align-items: center;
}

.category-head {
    color: #000;
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 28px */
    letter-spacing: -1px;
    padding: 12px 22px;
    border-radius: 999px;
    border: 1px solid var(--grey-grey-100, #DBDEE2);
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    padding: 12px 22px;
}

.category-head>span {
    white-space: nowrap;
}



.category-head>b {
    color: var(--Navy, #171C61);
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    /* 28px */
    letter-spacing: -1px;
    display: none;
}

.category-head>i {
    width: 24px;
    height: 24px;
}


.category-selector {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(calc(100% + 13px));
    padding: 28px 20px;
    border-radius: 10px;
    border: 1px solid var(--grey-grey-100, #DBDEE2);
    background: #FFF;
    box-shadow: 0px 4px 16.5px 0px rgba(0, 0, 0, 0.12);
    display: none;
    flex-direction: column;
    row-gap: 14px;
}

.category.active>.category-head {
    border-radius: 999px;
    border: 1px solid var(--grey-grey-200, #CACFD4);
    background: var(--grey-grey-50, #F3F5F6);
}

.category.selected>.category-head {
    border-radius: 999px;
    border: 1px solid var(--Navy, #171C61);
    background: rgba(23, 28, 97, 0.10);
}

.category.selected .category-head>b {
    display: inline-block;
}


.category.active .category-selector {
    display: flex;
}



.selector-title {
    color: #000;
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    /* 19.6px */
    letter-spacing: -0.7px;
}

.selector-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.selector-container>li>label {
    display: flex;
    column-gap: 8px;
    color: var(--TEXT, #242A30);
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 18px */
    letter-spacing: -0.9px;
    align-items: center;
    cursor: pointer;
}

.selector-container>li>label input {
    display: none;
}

.selector-container>li>label .checkbox {}

.selector-container>li>label .checkbox .selected-false {
    display: block;
}

.selector-container>li>label .checkbox .selected-true {
    display: none;
}

.selector-container>li>label input:checked~.checkbox .selected-false {
    display: none;
}

.selector-container>li>label input:checked~.checkbox .selected-true {
    display: block;
}

.category-controller {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
}

.category-controller .reset {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--grey-STROKE-grey-100, #DBDEE2);
    background: var(--wt, #FFF);
    color: var(--TEXT, #242A30);
    text-align: center;
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 14px */
    letter-spacing: -0.7px;
}

.category-controller .submit {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--p-Purple-HOVER_purple-600, #503887);
    background: var(--p-Purple-NORMAL_purple-500, #583D94);
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 14px */
    letter-spacing: -0.7px;
}

.input-container {
    display: flex;
    max-width: 573px;
    flex: 1;
    position: relative;
}

.main-section .input-container .icon {
    width: 20px;
    height: 20px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    background-image: url("/img/user_img/search.svg");

}

.main-section .search:focus {
    outline: 2px dashed #000;
}

.location-container {
    display: grid;
	grid-template-columns: repeat(4, 24%);
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    gap: 20px;
    padding: 40px 20px 0 20px;
}

.location-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
}

.location-item .img-container {
    width: 100%;
    padding-bottom: 70%;
    position: relative;
    border-radius: 20px;
    border: 1px solid #DBDEE2;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid var(--grey-grey-100, #DBDEE2);

}

.location-item .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* pointer-events: none; */
}

.location-item .type {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 14px */
    letter-spacing: -0.7px;
}

.location-item h6 {
    padding: 8px 0;
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    letter-spacing: -1px;
}

.location-item .hashtag {
    color: #8B96A2;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
    letter-spacing: -0.8px;
    
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  word-break: break-all;
}

.location-item .address {
    margin-top: 18px;
    overflow: hidden;
    color: #4C5359;
    text-overflow: ellipsis;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
    letter-spacing: -0.8px;
}

.location-item .tel {
    margin-top: 8px;
    overflow: hidden;
    color: #4C5359;
    text-overflow: ellipsis;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
    letter-spacing: -0.8px;
}




















.pagination {
    margin-top: 80px;
    margin-bottom: 200px;
    display: flex;
    column-gap: 5px;
    justify-content: center;
}

.pagination .page-button {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--grey-backstroke-grey-100-grey-50, #F3F5F6);
    background: var(--wt, #FFF);
}

.pagination .page-button.active {
    background: var(--Navy, #171C61);
    color: #fff;
    pointer-events: none;
}


.pagination .page-button.else-page {
    border: none;
    pointer-events: none;
}





@media (max-width : 1800px) {

    .location-item {
        width: 100%;
    }
}

@media (max-width : 1475px) {
    .location-item {
        width: 100%;
    }
}

@media (max-width : 1465px) {
    .main-section {
        padding: 20px;
    }
}

@media (max-width : 1024px) {
    .navigator {
        flex-direction: column;
        row-gap: 12px;
    }

    .input-container {
        max-width: unset;
    }

    .main-section .main-text {
        font-size: 32px;
    }

    .visual-section {
        height: 0;
        padding-bottom: 57%;
    }


    .visual-section .content {
        padding-bottom: 0;
        justify-content: center;
    }
	.location-container {
	    padding-top: 0;
	    display: grid;
		grid-template-columns: repeat(2, 49%);
	    width: 100%;
	    max-width: 1760px;
	    margin: 0 auto;
	}

}

@media (max-width:768px) {
    .category-head {
        font-size: 14px;
       	width: 109px;
    }

    .location-item {
        width: 100%;
    }

    .visual-section .content h2 {
        font-size: 16px;
        letter-spacing: -0.8px;
    }

    .visual-section .content h1 {
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: -1px;
    }

    .main-section .main-text {
        font-size: 20px;
        text-align: start;
        width: 100%;
        letter-spacing: -1px;
    }

    .main-section .main-text br {
        display: none;
    }

    .location-container {
        column-gap: 11px;
        row-gap: 16px;
    }

    .location-item .img-container {
        width: 100%;
        padding-bottom: 96%;
        height: 0;
        position: relative;
    }

    .location-item .img-container img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .location-item .hashtag,
    .location-item .address {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }



    .pagination {
        margin-top: 64px;
    }

    .pagination .page-button {}
}
.hashtag {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.location-item {
  position: relative;
  /* 기존 스타일 유지 */
}

.tooltip-text {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 10;
  font-size: 14px;
  bottom: 80px;
  left: 0;
}

.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}