.visual-section {
    width: 100%;
    height: 972px;
    background-image: url("/img/user_img/main.webp");
    position: relative;
}

.opacity-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    width: 100%;
    height: 100%;
    padding-bottom: 400px;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    row-gap: 28px;
}

.content h2 {
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 28px */
    letter-spacing: -1.4px;
}

.content h1 {
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    /* 78.4px */
    letter-spacing: -2.8px;
}

.main-section {
    margin: 0 auto;
    max-width: 1465px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.section-title {
    color: var(--Gold, #A48B78);
    font-family: SUIT;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 32px */
    letter-spacing: -1.6px;
    padding-bottom: 20px;
}

.greetings-container .main {
    color: #000;
    font-family: SUIT;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    /* 58.8px */
    letter-spacing: -2.1px;
    margin-bottom: 40px;
}

.greetings-container .sub {
    color: #000;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    /* 28.8px */
    letter-spacing: -0.9px;
    margin-bottom: 80px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 250px calc(100% - 297px);
    column-gap: 47px;
    padding-bottom: 80px;
}


.grid-container h4 {
    color: var(--TEXT, #242A30);
    font-family: SUIT;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.34;
    /* 53.6px */
    letter-spacing: -2px;
}

.grid-container .table {
    display: grid;
    width: 100%;
    grid-template-columns: 21.1% 21.1% 28.4% 28.4%;
}

.grid-container .table .head {
    padding: 10px 16px;
    border-top: 1px solid var(--Navy, #171C61);
    background: var(--grey-grey-50, #F3F5F6);
    display: flex;
    align-items: center;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 500;
    line-height: 1;
}

.grid-container .table .data {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 500;
    line-height: 1;
    border-top: 1px solid var(--grey-STROKE-grey-100, #DBDEE2);
    border-bottom: 1px solid var(--grey-STROKE-grey-100, #DBDEE2);
    background: var(--wt, #FFF);
    min-height: 88px;
    padding: 16px 10px;
    display: flex;
    align-items: center;
}

.grid-container .table ul.data {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.grid-container .table ul.data li {
    /* list-style: disc; */
}

.vision-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 135px calc(100% - 147px); */
    /* column-gap: 12px; */
}

.vision-container .row {
    display: grid;
    grid-template-columns: 135px calc(100% - 147px);
    column-gap: 12px;
    border-top: 1px solid var(--grey-STROKE-grey-100, #DBDEE2);
    border-bottom: 1px solid var(--grey-STROKE-grey-100, #DBDEE2);
}

.vision-container .head {
    color: var(--TEXT, #242A30);
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    /* 20px */
    letter-spacing: -1px;
    padding: 24px 0;
}

.vision-container .data {
    color: var(--TEXT, #242A30);
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 20px */
    letter-spacing: -1px;
    padding: 24px 0;
}

.vision-container ul.data {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.ci-container img {
    width: 100%;
}



.map-container {
    padding-bottom: 197px;
}

.map-container p {
    color: var(--bk, #000);
    font-family: SUIT;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 56px */
    letter-spacing: -2px;
}

.map-container .map {
    width: 100%;
    height: 0;
    padding-bottom: 30%;
    background-color: #000;
    margin-bottom: 20px;
    margin-top: 20px;
}

.map-container .info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

}

.map-container .info .row {
    display: flex;
    align-items: center;
}

.map-container .info .row .icon {
    width: 18px;
    height: 18px;
}

.map-container .info .row .head {
    color: var(--bk, #000);
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
    /* 30.6px */
    letter-spacing: -0.9px;
    padding-left: 4px;
    padding-right: 12px;
    white-space: nowrap;
}

.map-container .info .row .text {
    color: var(--bk, #000);
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 30.6px */
    letter-spacing: -0.9px;
}

@media (max-width : 1465px) {
    .main-section {
        padding: 20px;
    }

    .section-title {
        text-align: center;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width : 1024px) {
    .visual-section {
        height: 0;
        padding-bottom: 57%;
    }

    .content {
        padding-bottom: 0;
        justify-content: center;
    }



    .map-container .map {
        padding-bottom: 126%;
    }

    .map-container .info .row .head {
        width: 62px;
        min-width: 62px;
        margin-right: 12px;
    }

}

@media (max-width:768px) {
    .content h2 {
        font-size: 16px;
        letter-spacing: -0.8px;
    }

    .content h1 {
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: -1px;
    }

    .section-title {
        font-size: 22px;
        line-height: 1.3;
        letter-spacing: 0;
        padding-bottom: 16px;
    }

    .greetings-container .main {
        font-size: 20px;
        letter-spacing: -1px;
        font-weight: 600;
        line-height: 1.6;
        margin-bottom: 12px;
    }

    .greetings-container .main br {
        display: none;
    }

    .greetings-container .sub {
        font-size: 16px;
        letter-spacing: -0.8px;
        line-height: 1.6;
        margin-bottom: 40px;
    }

    .grid-container h4 {
        font-size: 18px;
        letter-spacing: -0.9px;
        line-height: 1.4;
        padding-bottom: 8px;
    }

    .grid-container {
        padding-bottom: 40px;
    }

    .vision-container .row {
        grid-template-columns: 49px calc(100% - 61px);
    }

    .map-container p {
        font-size: 20px;
    }

    .map-container p br {
        display: none;
    }
}