.visual-section {
    width: 100%;
    height: 972px;
    background-image: url("/img/user_img/location-back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.opacity-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
}

.visual-section .content {
    width: 100%;
    height: 100%;
    padding-bottom: 400px;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    row-gap: 28px;
}

.visual-section .content h2 {
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 28px */
    letter-spacing: -1.4px;
}

.visual-section .content h1 {
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    /* 78.4px */
    letter-spacing: -2.8px;
}

.main-section {
    margin: 0 auto;
    max-width: 1760px;
    width: 100%;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section .search {
    width: 100%;

    padding: 16px 20px;
    border-radius: 999px;
    background: var(--grey-grey-50, #F3F5F6);
    border: 0;
    outline: none;
    text-align: center;
    position: relative;
    text-align: center;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 16px */
    letter-spacing: -0.8px;
    color: #000;
}

.main-section .search::placeholder {
    color: var(--grey-grey-600, #7E8993);

}

.input-container {
    display: flex;
    max-width: 1423px;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.main-section .input-container .icon {
    width: 20px;
    height: 20px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    background-image: url("/img/user_img/search.svg");

}

.main-section .search:focus {
    outline: 2px dashed #000;
}

.map-container {
    width: 100%;
    padding-bottom: 49%;
    position: relative;
    margin-bottom: 80px;
}

.map-container>.map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}



.navigator {
    display: flex;
    column-gap: 8px;
    padding-bottom: 5px;
    justify-content: start;
    overflow-x: auto;
    width: 100%;
    max-width: 1440px;
    padding: 20px 0 40px 0;
}

.navigator li {
    display: flex;
}

.navigator a {
    padding: 20px 24px;
    color: var(--grey-grey-500, #8B96A2);
    font-family: SUIT;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    /* 39.2px */
    letter-spacing: -1.4px;
    white-space: nowrap;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    cursor: pointer;
}

.navigator li.active a{
    color: #000;
    font-style: normal;
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.toggle-container {
    display: flex;
    border-radius: 999px;
    border: 1px solid var(--grey-grey-100, #DBDEE2);
}

.toggle-container>a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    color: var(--grey-grey-500, #8B96A2);
    font-family: SUIT;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -1.1px;
}

.toggle-container>a.active {
    color: #fff;
    border-radius: 999px;
    background: var(--Navy, #171C61);
}

.list-container {
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
.list-container.active{
	display: flex;
}

.location-container {
    display: grid;
	grid-template-columns: repeat(4, 24%);
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    gap: 20px;
    padding: 0 20px;
}

.location-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
}

.location-item .img-container {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    border: 1px solid #DBDEE2;
    overflow: hidden;
    margin-bottom: 10px;
}

.location-item .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* pointer-events: none; */
}

.location-item .type {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 14px */
    letter-spacing: -0.7px;
}

.location-item h6 {
    padding: 6px 0;
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    letter-spacing: -1px;
}

.location-item .hashtag {
    color: #8B96A2;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
    letter-spacing: -0.8px;
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  word-break: break-all;
}

.location-item .address {
    margin-top: 18px;
    overflow: hidden;
    color: #4C5359;
    text-overflow: ellipsis;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
    letter-spacing: -0.8px;
}

.location-item .tel {
    margin-top: 8px;
    overflow: hidden;
    color: #4C5359;
    text-overflow: ellipsis;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
    letter-spacing: -0.8px;
}












.overlay-container {
    padding: 22px 16px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.overlay-title {
    color: var(--bk, #000);
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}

.overlay-container>a {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 1px solid var(--grey-grey-100, #DBDEE2);
}

.overlay-container .tail {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 95%);
    z-index: 1;
}






.pagination {
    margin-top: 80px;
    display: flex;
    column-gap: 5px;
}

.pagination .page-button {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--grey-backstroke-grey-100-grey-50, #F3F5F6);
    background: var(--wt, #FFF);
}

.pagination .page-button.active {
    background: var(--Navy, #171C61);
    color: #fff;
    pointer-events: none;
}


.pagination .page-button.else-page {
    border: none;
    pointer-events: none;
}




@media (max-width : 1465px) {
    .main-section {
        padding: 20px;
        padding-top: 40px;
    }
}

@media (max-width : 1024px) {

    .navigator li.active a,
    .navigator a {
        font-size: 18px;
    }

    .main-section .main-text {
        font-size: 32px;
    }

    .visual-section {
        height: 0;
        padding-bottom: 57%;
    }


    .visual-section .content {
        padding-bottom: 0;
        justify-content: center;
    }
    
	.location-container {
	    padding-top: 0;
	    display: grid;
		grid-template-columns: repeat(2, 49%);
	    width: 100%;
	    margin: 0 auto;
	}

}

@media (max-width:768px) {


    .visual-section .content h2 {
        font-size: 16px;
        letter-spacing: -0.8px;
    }

    .visual-section .content h1 {
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: -1px;
    }

    .main-section .main-text {
        font-size: 20px;
        text-align: start;
        width: 100%;
        letter-spacing: -1px;
    }

    .main-section .main-text br {
        display: none;
    }



    .navigator li.active a,
    .navigator a {
        font-size: 20px;
        white-space: nowrap;
    }

    .navigator {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }

    .navigator a {
        user-select: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        padding: 20px 16px;
    }

    .navigator::-webkit-scrollbar {
        height: 13px;
    }

    .navigator::-webkit-scrollbar-thumb {
        /* display: none; */
        background-color: #a6a6a6;
        border-radius: 50px;
        background-clip: padding-box;
        border: 5px solid transparent;
    }

    .navigator::-webkit-scrollbar-track {
        background-color: transparent;
    }




    .location-item .img-container {
        width: 100%;
        padding-bottom: 96%;
        height: 0;
        position: relative;
    }

    .location-item .img-container img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .location-item .hashtag,
    .location-item .address {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }



    .pagination {
        margin-top: 64px;
    }

    .pagination .page-button {}
}